In [1]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
sql_query ='Create table Employee_Detail(employee_id int Primary key, name Text, age int, department Text, salary int)'
cur.execute(sql_query)

In [4]:
values = [(100, "Rishav", 25, "Marketing", 50000), (101, "Abhishek", 26, "Operations", 60000), (102, "Aman", 24, "Human Resource", 75000)]
cur.executemany('Insert into Employee_Detail values(?, ?, ?, ?,?)', values)

In [5]:
db.commit()

In [6]:
sql_query = 'DELETE FROM employee_Detail WHERE employee_id = "102"'
cur.execute(sql_query)

In [7]:
db.commit()