In [1]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')
db

In [2]:
db = sqlite3.connect('School.sqlite')
db

In [3]:
cur = db.cursor()
cur

In [4]:
sql_query ='Create table Student (RollNumber int Primary key, Name Text, Age int)'
cur.execute(sql_query)

In [5]:
cur.execute('Insert into Student values (101,"Aman",20)')
db.commit()

In [6]:
cur.execute('Insert into Student values (102,"Amit",21)')
db.commit()

In [7]:
db.close()

In [8]:
cur.execute('Insert into Student values (101,"Aman",20)')
db.commit()

ProgrammingError: Cannot operate on a closed database.

In [1]:
db.open()

NameError: name 'db' is not defined

In [2]:
cur.execute('Insert into Student values (103,"Mohit",24)')
db.commit()

NameError: name 'cur' is not defined

In [3]:
cur.execute('Insert into Student values (103,"Mohit",24)')
db.commit()

NameError: name 'cur' is not defined

In [4]:
db = sqlite3.connect('School.sqlite')
db

NameError: name 'sqlite3' is not defined

In [5]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [6]:
ur.execute('Insert into Student values (103,"Mohit",24)')
db.commit()

NameError: name 'ur' is not defined

In [7]:
cur = db.cursor()
cur

In [8]:
cur.execute('Insert into Student values (103,"Mohit",24)')
db.commit()

In [9]:
RollNumber = 104
Name = "Nikhil"
age = 22

cur.execute('Insert into Student values (?, ?, ?)',(RollNumber,Name,age))
db.commit()

In [10]:
values = [(105, "Nidhi",23), (106, "Madhu", 21),(107, "Anshul", 22)]
cur = executemany('Insert into Student value(?, ?, ?)', values)

NameError: name 'executemany' is not defined

In [11]:
values = [(105, "Nidhi",23), (106, "Madhu", 21),(107, "Anshul", 22)]
cur.executemany('Insert into Student value(?, ?, ?)', values)

OperationalError: near "value": syntax error

In [12]:
values = [(105, "Nidhi",23), (106, "Madhu", 21), (107, "Anshul", 22)]
cur.executemany('Insert into Student values(?, ?, ?)', values)

In [13]:
db.commit()

# Update and Delete command using python

In [14]:
cur.execute('Update Student set Age = 30 where RollNumber = 102')
db.commit()

In [15]:
new_age = 40
cur.execute('Update Student set Age = ? where RollNumber = 103', new_age)

ValueError: parameters are of unsupported type

In [16]:
new_age = 40
cur.execute('Update Student set Age = ? where RollNumber = 103', (new_age))

ValueError: parameters are of unsupported type

In [17]:
new_age = 40
cur.execute('Update Student set Age = ? where RollNumber = 103', (new_age,))

In [18]:
db.commit()

# Fetch Data

In [1]:
import sqlite3
db = sqlite3.connect('School.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
cur.execute('Select * from Student')

In [4]:
for row in cur:
    print(row)

(101, 'Aman', 20)
(102, 'Amit', 30)
(103, 'Mohit', 40)
(104, 'Nikhil', 22)
(105, 'Nidhi', 23)
(106, 'Madhu', 21)
(107, 'Anshul', 22)

In [5]:
cur.execute('Select * from Student')

In [6]:
cur.execute('Select * from Student')
print(cur.fetchone())

(101, 'Aman', 20)

In [7]:
cur.execute('Select * from Student')
print(cur.fetchone())
print(cur.fetchone())

(101, 'Aman', 20)
(102, 'Amit', 30)

In [8]:
cur.execute('Select * from Student')
print(cur.fetchmany(4))

[(101, 'Aman', 20), (102, 'Amit', 30), (103, 'Mohit', 40), (104, 'Nikhil', 22)]

In [9]:
cur.execute('Select * from Student')
print(cur.fetchall())

[(101, 'Aman', 20), (102, 'Amit', 30), (103, 'Mohit', 40), (104, 'Nikhil', 22), (105, 'Nidhi', 23), (106, 'Madhu', 21), (107, 'Anshul', 22)]

In [10]:
cur.execute('Select * from Student where RollNumber > 103')
print(cur.fetchall())

[(104, 'Nikhil', 22), (105, 'Nidhi', 23), (106, 'Madhu', 21), (107, 'Anshul', 22)]

In [11]:
db.close()