In [1]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
sql_query ='Create table Employee_Detail(employee_id int Primary key, name Text, age int, department Text, salary int)'
cur.execute(sql_query)

In [4]:
values = [(100, "Rishav", 25, "Marketing", 50000), (101, "Abhishek", 26, "Operations", 60000), (102, "Aman", 24, "Human Resource", 75000)]
cur.executemany('Insert into Employee_Detail values(?, ?, ?, ?,?)', values)

In [5]:
db.commit()

In [6]:
sql_query = 'DELETE FROM employee_Detail WHERE employee_id = "102"'
cur.execute(sql_query)

In [7]:
db.commit()

In [1]:
delete_id = 101
cur.execute('DELETE FROM employee_Detail WHERE employee_id = ?',(delete_id,))

NameError: name 'cur' is not defined

In [2]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
db

In [3]:
cur = db.cursor()
cur

In [4]:
delete_id = 101
cur.execute('DELETE FROM employee_Detail WHERE employee_id = ?',(delete_id,))

In [5]:
db.commit()

In [7]:
values = [(101, 'Aadarsh', 25, 'Marketing, 50000), (102, 'Aarti', 27, 'Operations', 60000), (103,'Siddharth', 25, 'Finance', 85000), (104, 'Aman', 25, 'Human Resource', 75000),(105, 'Amit', 24, 'Marketing', 50000), (106, 'Shivansh', 30, 'IT', 90000), (107, 'Vaibhav', 26, 'Finance', 85000), (108, 'Himanshu', 23, 'IT', 90000)]
cur.executemany('Insert into Employee_Detail values(?, ?, ?, ?,?)', values)

SyntaxError: invalid syntax (<ipython-input-7-315a4f6b0981>, line 1)

In [8]:
values = [(101, 'Aadarsh', 25, 'Marketing, 50000), (102, 'Aarti', 27, 'Operations', 60000), (103,'Siddharth', 25, 'Finance', 85000), (104, 'Aman', 25, 'Human Resource', 75000),(105, 'Amit', 24, 'Marketing', 50000), (106, 'Shivansh', 30, 'IT', 90000), (107, 'Vaibhav', 26, 'Finance', 85000), (108, 'Himanshu', 23, 'IT', 90000)]
cur.executemany('Insert into Employee_Detail values(?, ?, ?, ?,?)', values)
           
employee_id=[105,106,107,108,109,110,111,112]
name=['Amit','Shivansh','Vaibhav','Himanshu','Raman','Kunal','Adhira','Tanya']
age=[30,26,23,26,25,26,29,24]
department=['Human Resource','Marketing','IT','Finance','IT','Operations','Marketing','Human Resource','Marketing']
salary=[50000,90000,85000,90000,60000,50000,75000,50000]

SyntaxError: invalid syntax (<ipython-input-8-4f37a2e3890a>, line 1)

In [9]:
values = [(101, "Aadarsh", 25, "Marketing", 50000), ( 102, "Aarti", 27, "Operations", 60000), (103,"Siddharth", 25, "Finance", 85000), (104, "Aman", 24, "Human Resource", 75000), (105, "Amit", 30, "Marketing", 50000), (106, "Shivansh", 26, "IT", 90000), (107, "Vaibhav", 23, "Finance", 85000), (108, "Himanshu", 26, "IT", 90000), (109, "Raman", 25, "Operations", 60000), (110, "Kunal", 26, "Marketing", 50000), (111, "Adhira", 29, "Human Resource", 75000), (112, "Tanya", 24, "Marketing", 50000)]
cur.executemany('Insert into Employee_Detail values(?, ?, ?, ?,?)', values)

In [10]:
db.commit()

In [11]:
db.close()

In [12]:
c

In [13]:
cur = db.cursor()
cur

In [17]:
cur.execute('Select employee_id from Employee_Detail where department="Finance"')
print(cur.fetchall(), end=" ")

[(103,), (107,)]

In [1]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')
db

In [2]:
cur = db.cursor()
cur

In [3]:
cur.execute('Select * from Employee_Detail where department=="Finance"')
a=cur.fetchall()
print(a[0][0])
print(a[1][0])

103
107

In [4]:
cur.execute('Select * from Employee_Detail where department=="Finance"')
a=cur.fetchall()
print(a[1][0])
print(a[1][0])

107
107

In [5]:
cur.execute('Select * from Employee_Detail where department=="Finance"')
a=cur.fetchall()
print(a[0][1])
print(a[1][0])

Siddharth
107

In [9]:
cur.execute('Select department, count(department) from Employee_Detail group by department')
a=cur.fetchall()
for row in a:
    print(a[row][0])
print(a[0][0],a[0][1])
print(a[1][0],a[1][1])
print(a[2][0],a[2][1])
print(a[3][0],a[3][1])
print(a[4][0],a[4][1])

Finance 2
Human Resource 2
IT 2
Marketing 5
Operations 2

In [13]:
cur.execute('Select department, count(department) from Employee_Detail group by department')
a=cur.fetchall()
for row in range(5):
    print(a[row][0],a[row][1])

Finance 2
Human Resource 2
IT 2
Marketing 5
Operations 2

In [14]:
import sqlite3
db = sqlite3.connect('Employee_Detail.sqlite')

cur = db.cursor()

cur.execute('Select  *  from  Employee_Detail  where  department=="Finance"')
a=cur.fetchall()
print(a[0][0])
print(a[1][0])

103
107