# IMDB DataSet

In [1]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')

cur = db.cursor()

In [2]:
import sqlite3
db = sqlite3.connect('IMDB.sqlite')
db

In [3]:
cur = db.cursor()
cur

In [10]:
cur.execute('Select genre, count(genre) from genre group by genre')
a=cur.fetchall()
for row in range(351):
    print(a[row][0],a[row][1])

 41
Action 33
Adventure 43
Animation 13
Biography 21
Comedy 31
Crime 11
Drama 77
Family 3
Fantasy 7
History 6
Horror 2
Music 3
Musical 1
Mystery 7
Romance 13
Sci-Fi 18
Sport 3
Thriller 14
War 2
Western 2

IndexError: list index out of range

In [25]:
cur.execute('Select genre, count(genre) from genre group by genre')
a=cur.fetchall()
for row in range(20):
    if(a[row][0]==' '):
        break
    else:
        print(a[row][0],a[row][1])

 41
Action 33
Adventure 43
Animation 13
Biography 21
Comedy 31
Crime 11
Drama 77
Family 3
Fantasy 7
History 6
Horror 2
Music 3
Musical 1
Mystery 7
Romance 13
Sci-Fi 18
Sport 3
Thriller 14
War 2